<table mat-table [dataSource]="items" class="mat-elevation-z8">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Item</th>
    <td mat-cell *matCellDef="let element">
      <a [href]="getTargetUrl('item', element.wowHeadId)" target="_blank">{{element.name}}</a>
    </td>
  </ng-container>

  <!-- Slot Column -->
  <ng-container matColumnDef="slot">
    <th mat-header-cell *matHeaderCellDef>Slot</th>
    <td mat-cell *matCellDef="let element">{{'items.slots.' + element.slot | translate}}</td>
  </ng-container>

  <!-- Own Column -->
  <ng-container matColumnDef="own">
    <th mat-header-cell *matHeaderCellDef>Own</th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox [checked]="element.own" (change)="onOwnClick(element.id, $event)"></mat-checkbox>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
